body {
  font-size: 16px;
}

.App {
  text-align: center;
  background-color: rgb(253, 250, 246);
}

.App-header {
  background-color: rgb(134, 12, 114);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  color: #FFF;
  font-size: 2.4rem;
  padding: 18px;
}

.sidebar, .main {
  text-align: left;
  padding: 16px;
}

.forecast-container {
  margin: 12px 0px;
}

/** city current temps */
.weatherIcon {
  margin-bottom: -10px;
}
.currentTemp-container {
  margin: 12px 0 18px 0;
}

.currentTemp-details {
  display: flex;
  justify-content: center;
  font-size: .7rem;
}

.currentTemp-container strong {
  display: inline-block;
  margin-right: 3px;
}

.currentTemp-container strong:not(:first-child) {
  margin-left: 20px;
}

.currentTemp-container li {
  display: block;
  text-align: center;
}

.currentTemp-details .MuiChip-outlined {
  margin-right: 8px;
  font-size: .7rem;
  background-color: rgb(232, 235, 247);
}

.main p {
  font-size: 1rem;
  display: block;
  white-space: nowrap;
  padding: 0px;
  text-align: center;
}

/** end city current temps */
.css-m69qwo-MuiStack-root {
  flex-grow: 1;
  width: 100%;
  justify-content:space-between;
}
.hourly-block {
  padding: 8px 0;
  width: 18%;
  border-bottom: 1px solid #eee;
  position: relative;
}
.hourly-block .icon {
  display: block;
  text-align: center;
  position: absolute;
  top: 4px;
  left: 20%;
  right: 20%;
}
.hourly-block .tickmark {
  display: block;
  margin-bottom: 3px;
  text-align: center;
  font-size: .6rem;
  border-top: 40px solid rgb(83, 136, 235);
}
.hourly-block .time {
  text-align: center;
  font-size: .8rem;
  display: block;
}
.hourly-block .currTemp {
  text-align: center;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 8px;
}
.hourly-block .forecastChip {
  font-size: .6rem;
  padding: 2px;
  display: block;
  text-align: center;
}
.hourly-block .currTemp::after {
  content: '°';
}

.main  > h3.city-title {
  text-align: center;
  font-size: 2.4rem;
}

.primary-temp.css-1p823my-MuiListItem-root.MuiListItem-root {
  display: block;
  font-size: 1.8rem;
  font-weight: bolder;
}

.temp-description {
  font-size: 2.2rem;
  font-weight: 100;
  text-transform: capitalize;
}

.searchHistory li {
  cursor: pointer;
  text-transform: capitalize;
}

.searchHistory li:hover {
  background-color: rgb(211, 211, 248);
}